# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# SQLite database files
*.db
*.sqlite3

# Environment variables
.env
.env.*

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Docker
**/docker-compose.override.yml
**/.docker
**/docker/*.log

# Celery
celerybeat-schedule
celerybeat.pid

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
